{% extends "base.html" %}
{% load static %}

{% block title %}Sobre{% endblock  %}

{% block content %}

<h1 style="font-weight:bold;">Sobre nós</h1>
<div>
    <span>Olá, meu nome é Kelsen Rian e sou o responsável pelo desenvolvimento deste site. Sou licenciado em Matemática e técnico em Informática, áreas nas quais tenho uma grande paixão. A programação é um dos meus maiores interesses e, ao longo dos anos, tive a oportunidade de aprofundar meus conhecimentos e aplicar em diversos projetos. 
        Tive a honra de fazer parte do grupo de desenvolvimento da OCHE Ceará (Olimpíada de Ciências Humanas do Estado do Ceará), onde pude colaborar com equipes em soluções tecnológicas para a educação e ampliar ainda mais minhas habilidades em tecnologia. Acredito no poder da programação para transformar a educação e criar soluções inovadoras.<span>
</div>

{% endblock %}